* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  }
  
  header {
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(55, 125, 34, 1) 100%);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 1rem;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  header .info {
    margin-top: 1rem;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  
  .menu-section {
    max-width: 1100px;
    margin: 1rem auto;
    padding: 2rem;
    text-align: center;
  }
  
  .menu-section h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-style: italic;
    color: #e4e4de;
    margin-bottom: 1.5rem;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .filters button {
    background: transparent;
    border: 2px solid #c0f5b0;
    color: #294024;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .filters .active,
  .filters button:hover {
    background: #d2fdc4ce;
    color: #7BBF6C;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
  }
  
  .card {
    background:#63FF31(216, 230, 212);
    min-height: 360px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(115, 189, 97, 0.05);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    
  }
  
  .card img {
    width: 100%;
    min-height: 68%;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1rem;
    text-align: left;
  }
  
  .card h3 {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .price {
    color: #0c0b0b;
    font-weight: bold;
    font-size: 1rem;
  }
  
  footer {
    text-align: center;
    padding: 2rem 1rem;
    background: linear-gradient(#FFFFFF, #377D22);
    font-size: 0.9rem;
    margin-top: 3rem;
  }
  
  img{
    width: 200px;
    height:200px;
  }

  #botao{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
  }

  .fa-whatsapp {
    margin-top: 16px;

  }